body {
  background-color: #f4e4bc;
  margin: 0;
}

.product-grid__content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.product-grid__menu {
  font-size: 40px;
  min-height: 100px;
}

.product-list-item {
  font-size: 40px;
}

.product-grid__menu-selector {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.product-grid__products-list {
  grid-template-columns: repeat(auto-fit, 600px);
  grid-auto-rows: 1fr;
  justify-content: center;
  display: grid;
  gap: 10px;
}

.product-list-item__image {
  width: 350px;
  height: 450px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.product-list-item {
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  position: relative;
}

.product-list-item__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-list-item__badge {
  margin: 5px;
  background-color: #03a9f5;
  color: white;
  border-radius: 5px;
  padding: 2px;
  align-self: flex-start;
}

.product-list-item__category {
  text-align: center;
  color: #c2c2c2;
}

.product-list-item__rating,
.product-list-item__name {
  text-align: center;
}

.product-list-item__price {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-list-item__add-to-cart {
  text-align: center;
  background-color: #f4e4bc;
  display: none;
}

.product-list-item:hover .product-list-item__add-to-cart {
  display: block;
}

.product-list-item__cart-button {
  display: inline-block;
  background-color: #8b7355;
  color: white;
  margin: 10px auto;
  padding: 15px;
  text-transform: uppercase;
}

.product-list-item__cart-button:hover {
  background-color: #0078af;
}

.product-list-item__rating::before {
  content: "\f005\f005\f005\f005\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background: -webkit-linear-gradient(
    180deg,
    white 0% calc(100% - 20 * var(--rating) * 1%),
    gold calc(100% - 20 * var(--rating) * 1%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-list-item:hover .product-list-item__actions {
  display: flex;
}

.product-list-item__actions {
  left: 400px;
  top: 100px;
  display: none;
  position: absolute;
  flex-direction: column;
}

.product-list-item__action {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #efefef8f;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 15px;
  transform: 0.3s ease;
}

.product-list-item__action:hover {
  background-color: #efefef;
}

.product-list-item__action--active {
  background-color: #c94a2b;
}

.product-list-item__action--active:hover {
  background-color: #fa2e2e;
}

.product-list-item--hide {
  display: none;
}

.product-list-item--transparent {
  opacity: 50%;
}

.product-grid__menu {
  background-color: #c94a2b;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  color: #fdf5e6;
  font-size: 20px;
}

.product-grid__menu-list {
  display: flex;
  flex-direction: row;
}

.product-grid__menu-item,
.product-grid__menu-selector {
  align-content: center;
  padding: 20px;
}

.product-grid__menu-item-selector {
  padding: 20px;
}

.product-grid__menu-item--active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .product-grid__products-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-auto-rows: 450px;
  }

  .product-list-item__image {
    width: 200px;
    height: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .product-list-item__actions {
    left: 220px;
    top: 50px;
  }

  .product-grid__menu {
    font-size: 20px;
    min-height: 100px;
  }

  .product-list-item {
    font-size: 20px;
  }

  .product-grid__menu-selector {
    flex-direction: row;
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .product-grid__products-list {
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 450px;

  }

   .product-list-item__actions {
    left: 180px;
    top: 50px;
  }

}
